/* General styling for the hero section */
.hero {
  position: relative;
  width: 100%;
  height: 90vh; /* Full viewport height */
}

/* Styling for the image */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Makes sure the image stays behind the text */
}

/* Styling for the centered text in the hero image */
.hero-text p {
  font-size: 3rem; /* Default font size for mobile */
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  text-transform: uppercase; /* Make text uppercase */
  white-space: normal; /* Allow text to wrap if needed */
  word-wrap: break-word; /* Break words to fit if needed */
  width: 100%;
}

/* Styling for the questions below the hero image */
.questions {
  position: absolute;
  bottom: 20px;
  left: 10px; /* Adjust for mobile */
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 2rem; /* Smaller font for mobile */
}

.question {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.question:hover {
  color: var(--highlight-color); /* Adjust to your preferred hover color */
}

/* Optional: Add a little space between the links when hovered */
.question:active,
.question:hover {
  transform: scale(1.05);
}

/* Larger Screens */
@media (min-width: 768px) {
  .hero {
    height: 83vh;
  }
  .hero-text p {
    font-size: 8rem; /* Larger text for desktop */
  }

  .questions {
    font-size: 4rem; /* Larger font for the questions on desktop */
    left: 20px; /* Adjust position for larger screens */
  }
}
