.hero {
  position: relative;
  width: 100%;
  height: 90vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-text p {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

.questions {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 2rem;
}

.question {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.question:hover {
  color: var(--highlight-color);
}

.question:active,
.question:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .hero {
    height: 83vh;
  }
  .hero-text p {
    font-size: 8rem;
  }

  .questions {
    font-size: 4rem;
    left: 20px;
  }
}
