@import url("theme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

.header {
  width: 100%;
  background-color: var(--md-sys-color-primary);
  padding-right: 12px;
  border-radius: 0 0 12px 12px;
  color: var(--md-sys-color-on-primary);
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 128px;
  height: 128px;
}

.header-book {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: large;
}
