.landing-main {
  padding-right: 24px;
  padding-top: 24px;
  padding-left: 24px;
  display: flex;
  justify-content: space-around;
}

.landing-image {
  border-radius: 24px;
  width: 310px;
  height: 450px;
}

.landing-text {
  display: flex;
  flex-direction: column;
  font-size: 116px;
}

.landing-text span {
  opacity: 0;
  animation: fadeIn 1s forwards;
  display: inline-block;
  /* text-shadow: 4px 4px 4px rgba(255, 223, 0, 0.2); Softer golden shadow */
  text-shadow: 0 0 5px rgba(255, 215, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.5),
    0 0 15px rgba(255, 215, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landing-text span:nth-child(1) {
  animation-delay: 0.2s;
}
.landing-text span:nth-child(2) {
  animation-delay: 0.4s;
}
.landing-text span:nth-child(3) {
  animation-delay: 0.8s;
}
.landing-text span:nth-child(4) {
  animation-delay: 1s;
}
